/* TODO: insert styles here */
h1 {
  text-align: center;
  margin-bottom: 60px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.local_text {
  background-color: #4757FF;
  line-height: 40px;
  color: white;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.outer-container {
  display: flex;
  justify-content: center;
  width: auto;
}

.local-version {
  width: 366px;
  height: 200px;
  padding-right: 40px;
}

.top {
  border: 2px solid #4757ff;
  height: 49%;
  padding-bottom: 10px;

}

.bottom {
  border-left: 2px solid #4757ff;
  border-right: 2px solid #4757ff;
  border-bottom: 2px solid #4757ff;
  height: 35%;
  padding-bottom: 10px;
}

.git_title {
  margin: 0px;
}

.remote_title {
  background-color: #fb4e32;
  line-height: 40px;
  color: white;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.remotes {
  width: 366px;
  border: 2px solid #fb4e32;
  padding-bottom: 10px;
}

.git_status, .git_title {
  color: #4757ff;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding-bottom: 10px;
}

.git_remote {
  color: #fb4e32;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding-bottom: 10px
}

.status_text, .git_text, .remote_text {
  color: #6e6e6e;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
